#root .search-filter button {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
}
#root .search-filter button[type="submit"] {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 10px;
}

#root .search-filter button[type="reset"] {
    background-color: #892828;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 10px;
}

#root input {
    border-radius: 0;
    outline: none;
    border: none;

    color: #000000;
    font-weight: bold;
}
#root input::placeholder {
    color: #000000;
    font-weight: bold;
}

#root select {
    height: 46px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding-bottom: 0;
    background-color: transparent;
    max-width: 150px;
    width: 100%;
}

#root .filter-container {
    border-bottom: 2px solid black;
}
