#root .imgContainer {
    /*background-color: #F3F3F3;*/
    background-color: #ffffff;
}

#root .search-lot--content {
    background-color: #FFFFFF;
    font-family: 'Dosis', sans-serif;
    height: 100%;
}

#root .lot-container > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#root .lot-container > div > div:last-child {
    height: 100%;
}

#root .title {
    font-size: 1.625rem;
    line-height: 1.2;
    letter-spacing: 1px;
    /*font-size: 26px;*/
    /*line-height: 28px;*/
}

#root .subtitle {
    color: #968a8a;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 1px;
    /*font-size: 20px;*/
    /*line-height: 28px;*/
}

#root .emptyPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

@media screen and (max-width: 576px) {
    #root .emptyPhoto {
        height: auto;
    }
}
