#main_app_43tg4 .h-site-search--search {
    /*padding: 2.875rem 2.5rem;*/
    transition: 0.7s all cubic-bezier(.73,.05,.69,.94);
    /*background-color: white;*/
    z-index: 1000;
    width: 100%;
}

@media screen and (max-width: 567px) {
    #main_app_43tg4 .h-site-search--search .container {
        padding: 0;
    }
}

#main_app_43tg4 .h-site-search--form .h-form-control::placeholder {
    color: #5555;
}

#main_app_43tg4 .h-site-search--form .h-form-control {
    margin-left: 0;
}

#main_app_43tg4 .ui.icon.input > input {
    padding-right: 2.67142857em !important;
}

#main_app_43tg4 .ui.input {
    font-size: 1em;
    width: 100%;
}

#main_app_43tg4 .ui.input {
    position: relative;
    font-weight: normal;
    font-style: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.87);
}

#main_app_43tg4 .ui.input > input {
    margin: 0em;
    max-width: 90%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0.67857143em 1em;
    background: #FFFFFF;
    border: 0 solid rgba(34, 36, 38, 0.15); /* 1px work */
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0;
    /*border-radius: 0.28571429rem;*/
    -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*.h-site-search--form button[type="submit"] {  work*/
/*    position: absolute;*/
/*    right: 7.5%;*/
/*    border: 0;*/
/*    -webkit-appearance: none;*/
/*    background: transparent;*/
/*}*/

#main_app_43tg4 .h-site-search--search-empty {
    padding: 8rem 2.5rem 12rem;
    z-index: 1000;
}

#main_app_43tg4 .searchBox .h-form-item {
    flex: 100% 0 1;
}

#main_app_43tg4 .searchBox .vertical-center.move {
    transform: translate(0);
}

#main_app_43tg4 .h-site-search--search-wrap{
    width: 100%;
    z-index: 1000;
}

#main_app_43tg4.input-group.mb-3{
    display: block;
}

#main_app_43tg4 .h-search-filter .ui.button.primary .svg-inline--fa.fa-w-16{
    color: #ffffff;
}

#main_app_43tg4 .h-header.w-100.has-no-hero{
    border-bottom: unset;
}

#main_app_43tg4 .tabs {
    border-bottom: 2px solid black;
}

#main_app_43tg4 button {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: #FFFFFF;
    outline: none;
    border: none;
}

@media screen and (max-width: 768px) {
    #main_app_43tg4 button {
        font-size: 14px;
    }
    #main_app_43tg4 .h-site-search--search {
        padding: 2rem 0;
    }
}

#main_app_43tg4 button.active {
    color: #FFFFFF;
    background-color: #000000;
}

@media (min-width: 992px){
    body #main_app_hero_empty_34t54gy54 {
        min-height: 4.5625rem;
    }
}

#main_app_43tg4 .dropdown-item-alt{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
