.h-site-search--search {
    /*padding: 2.875rem 2.5rem;*/
    transition: 0.7s all cubic-bezier(.73,.05,.69,.94);
    /*background-color: white;*/
    z-index: 1000;
    width: 100%;
}

.h-site-search--searchbox {
    transition: transform .3s;
}

.h-site-search--form .h-form-control {
    margin-left: 0;
}

/*.h-site-search--form button[type="submit"] {  work*/
/*    position: absolute;*/
/*    right: 7.5%;*/
/*    border: 0;*/
/*    -webkit-appearance: none;*/
/*    background: transparent;*/
/*}*/

.h-site-search--search-empty {
    padding: 8rem 2.5rem 12rem;
    z-index: 1000;
}

.searchBox .h-form-item {
    flex: 100% 0 1;
}

.searchBox .vertical-center.move {
    transform: translate(0);
}

.h-site-search--search-wrap{
    width: 100%;
    z-index: 1000;
}

.input-group.mb-3{
    display: block;
}

.h-search-filter .ui.button.primary .svg-inline--fa.fa-w-16{
    color: #ffffff;
}

.h-header.w-100.has-no-hero{
    border-bottom: unset;
}

.tabs {
    border-bottom: 2px solid black;
}

button {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: #FFFFFF;
    outline: none;
    border: none;
}

@media screen and (max-width: 768px) {
    button {
        font-size: 14px;
    }
    .h-site-search--search {
        padding: 2rem 0;
    }
}

button.active {
    color: #FFFFFF;
    background-color: #000000;
}

@media (min-width: 992px){
    body .hero-empty {
        min-height: 4.5625rem;
    }
}

.dropdown-item-alt{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
